{#
SPDX-FileCopyrightText: 2025 Oliver

SPDX-License-Identifier: GPL-3.0-or-later
#}

{% if matomo_container_labels_traefik_enabled %}
traefik.enable=true

{% if matomo_container_labels_traefik_docker_network %}
traefik.docker.network={{ matomo_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if matomo_container_labels_traefik_compression_middleware_enabled %}
{% set middlewares = middlewares + [matomo_container_labels_traefik_compression_middleware_name] %}
{% endif %}

{% if matomo_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ matomo_identifier }}-slashless-redirect.redirectregex.regex=^({{ matomo_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ matomo_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [matomo_identifier + '-slashless-redirect'] %}
{% endif %}

{% if matomo_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ matomo_identifier }}-strip-prefix.stripprefix.prefixes={{ matomo_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [matomo_identifier + '-strip-prefix'] %}
{% endif %}

{% if matomo_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in matomo_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ matomo_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [matomo_identifier + '-add-request-headers'] %}
{% endif %}

{% if matomo_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in matomo_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ matomo_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [matomo_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ matomo_identifier }}.rule={{ matomo_container_labels_traefik_rule }}
{% if matomo_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ matomo_identifier }}.priority={{ matomo_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ matomo_identifier }}.service={{ matomo_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ matomo_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ matomo_identifier }}.entrypoints={{ matomo_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ matomo_identifier }}.tls={{ matomo_container_labels_traefik_tls | to_json }}
{% if matomo_container_labels_traefik_tls %}
traefik.http.routers.{{ matomo_identifier }}.tls.certResolver={{ matomo_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ matomo_identifier }}.loadbalancer.server.port=80
{% endif %}

{{ matomo_container_labels_additional_labels }}
